# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# .env.local file (add to .gitignore)
OPENAI_API_KEY=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